<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <servlet>
        <servlet-name>zjn</servlet-name>
        <servlet-class>server.ZjnServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>zjn</servlet-name>
        <url-pattern>/zjn</url-pattern>
    </servlet-mapping>
</web-app>
